
/* *************** first section  *************** */

.how-to img {
  height: 100px;

}


/* *************** second section  *************** */

.why .test {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  background-color: #428BCA;
}
.why img {
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* ***************  third section  *************** */

.where-lessons .box-padding {
  padding: 0 50px;
}

/* *************** generale feature *************** */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height:  200px;
  display: block;
  margin: 0 auto;
}
p {
  text-align: center;
}
.info-box * {
  text-align: center;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.box-padding {
  padding: 25px;
}

.section-margin {
  margin: 70px 0;
}

.container .section-title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 45px;
}

.container .info-title {
  text-align: center;
  margin: 10px 0;
}

.separator {
  height: 12px;
  padding: 0 40px;


}

.separator hr {
  height: 5px;
  border-top: 2px solid #8c8b8b;
  border-bottom: 2px solid #8c8b8b;
  border-left: none;
  position: relative;
  top: calc(100% / 2);
  transform: translateY(-50%);
}

/* ********************************************* */

/* ******************************************* */
/* *************** media queries *************** */
/* ******************************************* */


@media screen and (max-width: 480px) {

.content-box {
  width: 100%;
}

.where-lessons .info-box {
  width: 100%;
}

.how-to .info-box {
  width: 100%;
}

.info-box img {
  height:  150px;
}

.info-box .test {
  width: 150px;
  height: 150px;

}

.content-box.why img {
  height: 80px;
}


}

 @media screen and (min-width: 480px) and (max-width: 800px) {

.content-box {
  width: 100%;
}

.content-box.how-to {
  height: 90vh;
  position: relative;
}

.where-lessons .info-box {
  width: 100%;
}

.how-to .info-box {
  box-sizing: border-box;
  width: 48%;
  padding: 0 1%;
}

#flow-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.info-box .test {
  width: 150px;
  height: 150px;

}

.content-box.why img {
  height: 80px;
}


}

/* ******************************************* */
/* ******************************************* */
/* ******************************************* */
